@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Jost', sans-serif;
  transition: all 0.2s; }

html::-webkit-scrollbar {
  width: 1.2rem;
  background-color: #fff; }

html::-webkit-scrollbar-track {
  background-color: transparent; }

html::-webkit-scrollbar-thumb {
  border-radius: 3rem;
  background-color: black; }

body {
  overflow-x: hidden; }

a {
  color: #000; }

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }

button {
  cursor: pointer;
  border: none; }

.btn {
  display: inline-block;
  padding: 0 25px;
  font-weight: 500;
  line-height: 40px;
  border: 1px solid #000;
  transition: all .2s; }

.btn-sm {
  line-height: 33px; }

.btn-lg {
  line-height: 45px; }

.btn-primary {
  background-color: #1367ef;
  color: #fff;
  border-color: #1367ef; }
  .btn-primary:hover {
    background-color: #fff;
    color: #1367ef; }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
  outline: none;
  border: 1px solid #dee0ea;
  padding: 8px 15px; }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus {
    border-color: grey; }

input[type="number"]::-webkit-inner-spin-button {
  opacity: 1; }

.img-fluid {
  width: 100%;
  height: auto; }

.section-title {
  text-align: center;
  margin: 30px 0; }
  .section-title h2 {
    font-size: 2rem;
    text-shadow: 0px 1px 3px #1367ef; }

@media (max-width: 1200px) {
  .container {
    max-width: 992px; } }

@media (max-width: 992px) {
  body .container {
    max-width: 768px;
    padding: 0 5%; } }

@media (max-width: 768px) {
  .container {
    max-width: 576px; } }

@media (max-width: 576px) {
  .container {
    max-width: 400px; } }

@media (max-width: 420x) {
  .container {
    max-width: 350px; } }

header {
  border-bottom: 1px solid  #dee0ea;
  position: relative; }
  header .global-notification {
    background-color: #1367ef;
    padding: 14px 0;
    text-align: center;
    font-size: 12px;
    color: #fff; }
    header .global-notification a {
      color: #fff;
      font-weight: 700; }
  header .header-row {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center; }
    header .header-row .container .header-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      header .header-row .container .header-wrapper .header-mobile {
        font-size: 24px;
        cursor: pointer;
        display: none; }
      header .header-row .container .header-wrapper .header-left .logo {
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 2px; }
      header .header-row .container .header-wrapper .header-center > .bi-x-square-fill {
        display: none; }
      header .header-row .container .header-wrapper .header-center .navigation .menu-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.8rem; }
        header .header-row .container .header-wrapper .header-center .navigation .menu-list .menu-list-item {
          display: flex;
          align-items: center;
          position: relative;
          height: 90px; }
          header .header-row .container .header-wrapper .header-center .navigation .menu-list .menu-list-item .menu-link {
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 1.3px;
            position: relative; }
            header .header-row .container .header-wrapper .header-center .navigation .menu-list .menu-list-item .menu-link::before {
              content: "";
              width: 0;
              height: 1px;
              background-color: #1367ef;
              position: absolute;
              top: -20%;
              left: 0%; }
            header .header-row .container .header-wrapper .header-center .navigation .menu-list .menu-list-item .menu-link::after {
              content: "";
              width: 0;
              height: 1px;
              background-color: #1367ef;
              position: absolute;
              bottom: -20%;
              left: 100%;
              transform: translate(-100%); }
            header .header-row .container .header-wrapper .header-center .navigation .menu-list .menu-list-item .menu-link:hover::after {
              width: 100%;
              box-shadow: 0 2px 5px #1367ef; }
            header .header-row .container .header-wrapper .header-center .navigation .menu-list .menu-list-item .menu-link:hover::before {
              width: 100%; }
          header .header-row .container .header-wrapper .header-center .navigation .menu-list .menu-list-item .menu-link.active::after, header .header-row .container .header-wrapper .header-center .navigation .menu-list .menu-list-item .active::before {
            width: 100%; }
          header .header-row .container .header-wrapper .header-center .navigation .menu-list .menu-list-item .menu-dropdown-wrapper {
            position: absolute;
            top: 100%;
            opacity: 0;
            visibility: hidden; }
            header .header-row .container .header-wrapper .header-center .navigation .menu-list .menu-list-item .menu-dropdown-wrapper .menu-dropdown-content {
              width: 220px;
              border: 1px solid #dee0ea;
              background-color: #fff;
              font-size: 14px;
              padding: 15px 30px;
              margin-left: -30px;
              display: flex;
              justify-content: center;
              align-items: start;
              flex-direction: column;
              gap: .6rem;
              box-shadow: rgba(0, 0, 0, 0.45) 0px 15px 10px -10px; }
              header .header-row .container .header-wrapper .header-center .navigation .menu-list .menu-list-item .menu-dropdown-wrapper .menu-dropdown-content a:hover {
                color: #1367ef; }
          header .header-row .container .header-wrapper .header-center .navigation .menu-list .menu-list-item:hover .menu-dropdown-wrapper {
            opacity: 1;
            visibility: visible; }
        header .header-row .container .header-wrapper .header-center .navigation .menu-list .megamenu-wrapper {
          position: static !important; }
          header .header-row .container .header-wrapper .header-center .navigation .menu-list .megamenu-wrapper .menu-dropdown-wrapper {
            left: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center; }
            header .header-row .container .header-wrapper .header-center .navigation .menu-list .megamenu-wrapper .menu-dropdown-wrapper .menu-dropdown-megamenu {
              border: 1px solid #dee0ea;
              padding: 22px;
              display: flex;
              justify-content: center;
              align-items: start;
              gap: 50px;
              box-shadow: rgba(0, 0, 0, 0.45) 0px 15px 10px -10px; }
              header .header-row .container .header-wrapper .header-center .navigation .menu-list .megamenu-wrapper .menu-dropdown-wrapper .menu-dropdown-megamenu .megamenu-links {
                display: flex;
                justify-content: center;
                align-items: start;
                column-gap: 50px; }
                header .header-row .container .header-wrapper .header-center .navigation .menu-list .megamenu-wrapper .menu-dropdown-wrapper .menu-dropdown-megamenu .megamenu-links .megamenu-products .megamenu-product-title {
                  font-size: 16px;
                  font-weight: 500;
                  margin-bottom: 10px; }
                header .header-row .container .header-wrapper .header-center .navigation .menu-list .megamenu-wrapper .menu-dropdown-wrapper .menu-dropdown-megamenu .megamenu-links .megamenu-products .megamenu-menu-list {
                  display: flex;
                  flex-direction: column;
                  row-gap: 3px; }
                  header .header-row .container .header-wrapper .header-center .navigation .menu-list .megamenu-wrapper .menu-dropdown-wrapper .menu-dropdown-megamenu .megamenu-links .megamenu-products .megamenu-menu-list a {
                    font-size: 14px; }
                    header .header-row .container .header-wrapper .header-center .navigation .menu-list .megamenu-wrapper .menu-dropdown-wrapper .menu-dropdown-megamenu .megamenu-links .megamenu-products .megamenu-menu-list a:hover {
                      color: #1367ef; }
              header .header-row .container .header-wrapper .header-center .navigation .menu-list .megamenu-wrapper .menu-dropdown-wrapper .menu-dropdown-megamenu .megamenu-single .megamenu-single-title {
                font-size: 18px;
                font-weight: 500; }
              header .header-row .container .header-wrapper .header-center .navigation .menu-list .megamenu-wrapper .menu-dropdown-wrapper .menu-dropdown-megamenu .megamenu-single .megamenu-single-subtitle {
                font-size: 14px;
                font-weight: 400;
                margin-bottom: 1rem; }
      header .header-row .container .header-wrapper .header-right .header-right-links {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 1rem; }
        header .header-row .container .header-wrapper .header-right .header-right-links .bi {
          font-size: 18px; }
        header .header-row .container .header-wrapper .header-right .header-right-links .header-account .bi-person {
          font-size: 24px; }
        header .header-row .container .header-wrapper .header-right .header-right-links .toggle-button {
          border: none;
          background-color: transparent; }
        header .header-row .container .header-wrapper .header-right .header-right-links .header-cart {
          position: relative; }
          header .header-row .container .header-wrapper .header-right .header-right-links .header-cart .header-cart-count {
            position: absolute;
            top: -50%;
            left: 60%;
            font-size: 10px;
            background-color: #1367ef;
            padding: 2px 5px;
            border-radius: 50%;
            color: #fff;
            font-weight: 500; }

@media (max-width: 768px) {
  .container .header-center {
    position: fixed;
    top: 0;
    left: 100%;
    width: 50%;
    height: 100vh;
    background-color: #e7e2e2;
    border-right: 1px solid #dee0ea; }
    .container .header-center .menu-list {
      flex-direction: column; }
      .container .header-center .menu-list .menu-list-item a {
        font-size: 16px !important; }
        .container .header-center .menu-list .menu-list-item a i {
          display: none; }
      .container .header-center .menu-list .menu-list-item .menu-dropdown-wrapper {
        display: none !important; }
    .container .header-center .bi-x-square-fill {
      display: inline-block !important;
      position: absolute;
      top: 15px;
      right: 15px;
      font-size: 20px;
      cursor: pointer; }
      .container .header-center .bi-x-square-fill:hover {
        opacity: 0.7; }
  .container .header-mobile {
    display: inline-block !important; } }

.modal-search {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .modal-search::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    opacity: .5; }
  .modal-search .modal-wrapper {
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    z-index: 2;
    position: fixed;
    padding: 30px; }
    .modal-search .modal-wrapper .bi-x-square-fill {
      position: absolute;
      top: 2%;
      right: 2%;
      font-size: 20px; }
      .modal-search .modal-wrapper .bi-x-square-fill:hover {
        opacity: 0.7;
        cursor: pointer; }
    .modal-search .modal-wrapper .modal-title {
      font-size: 30px;
      font-weight: 600; }
    .modal-search .modal-wrapper .modal-text {
      font-size: 14px;
      color: #7a7a7a;
      padding-bottom: 15px;
      border-bottom: 1px solid #dee0ea; }
    .modal-search .modal-wrapper .search-form {
      display: flex;
      margin: 15px 0;
      position: relative; }
      .modal-search .modal-wrapper .search-form input {
        width: 100%;
        max-height: 42px;
        border-color: #dee0ea; }
      .modal-search .modal-wrapper .search-form button {
        position: absolute;
        right: 0;
        height: 100%;
        padding: 15px;
        border: 1px solid #dee0ea;
        color: #7a7a7a;
        display: grid;
        place-content: center;
        font-size: 18px;
        background-color: #e0dcdc; }
    .modal-search .modal-wrapper .search-result {
      padding-top: 15px;
      border-top: 1px solid #dee0ea; }
      .modal-search .modal-wrapper .search-result .search-heading {
        padding: 15px;
        font-size: 16px;
        font-weight: 600;
        background-color: #e0dcdc;
        border: 1px solid #dee0ea; }
      .modal-search .modal-wrapper .search-result .results {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-left: 1px solid #dee0ea; }
        .modal-search .modal-wrapper .search-result .results .result-item {
          border-bottom: 1px solid #dee0ea;
          border-right: 1px solid #dee0ea;
          padding: 15px;
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 1rem; }
          .modal-search .modal-wrapper .search-result .results .result-item:hover {
            background-color: #e0dcdc; }
          .modal-search .modal-wrapper .search-result .results .result-item .search-thumb {
            max-width: 70px; }
          .modal-search .modal-wrapper .search-result .results .result-item .search-info {
            font-size: 14px;
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column; }
            .modal-search .modal-wrapper .search-result .results .result-item .search-info .search-sku {
              color: #7a7a7a;
              margin: 2px 0; }
            .modal-search .modal-wrapper .search-result .results .result-item .search-info .search-price {
              color: #dc3545;
              font-weight: 600; }

@media (max-width: 992px) {
  body .modal-search .modal-wrapper {
    max-width: 400px; }
    body .modal-search .modal-wrapper .search-result .results {
      grid-template-columns: 1fr; } }

.slider {
  position: relative; }
  .slider .slider-elements .slider-item {
    position: relative;
    height: calc(100vh - 137px);
    display: flex;
    justify-content: start;
    align-items: center; }
    .slider .slider-elements .slider-item .slider-image img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      object-fit: cover;
      object-position: 50%;
      z-index: -1; }
    .slider .slider-elements .slider-item .container .slider-title {
      font-size: 18px;
      font-weight: 500; }
    .slider .slider-elements .slider-item .container .slider-heading {
      font-size: 3rem;
      text-shadow: 0px 2px 5px #1367ef; }
    .slider .slider-elements .slider-item .container a {
      z-index: 1;
      position: relative; }
  .slider .slider-elements .slider-buttons {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .slider .slider-elements .slider-buttons button {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      background-color: #fff;
      font-size: 20px;
      color: #0a0a0a;
      opacity: 0.4;
      transition: none !important; }
      .slider .slider-elements .slider-buttons button:hover {
        color: #fff;
        background-color: #1367ef;
        box-shadow: 0px 0px 10px #1367ef;
        opacity: 1; }
  .slider .slider-elements .slider-dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 6px; }
    .slider .slider-elements .slider-dots .slidet-dot {
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center; }
      .slider .slider-elements .slider-dots .slidet-dot span {
        display: inline-block;
        height: 13px;
        width: 13px;
        border-radius: 50%;
        background-color: #1367ef;
        opacity: 0.5; }
        .slider .slider-elements .slider-dots .slidet-dot span:hover {
          opacity: 1; }

@media (max-width: 582px) {
  .slider .slider-elements .slider-item {
    height: calc(100vh - 155px); }
  .slider .slider-elements .slider-buttons {
    display: none; } }

.categories .category-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap; }
  .categories .category-list .category-item {
    min-width: 100px;
    background-color: #f5f5f5;
    border-radius: 10px;
    flex: 1;
    display: flex;
    justify-content: center; }
    .categories .category-list .category-item a {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 5px;
      margin: 5px 0;
      font-weight: 500; }
      .categories .category-list .category-item a .category-img {
        width: 100%;
        margin-bottom: 1rem; }
        .categories .category-list .category-item a .category-img:hover {
          transform: scale(1.1); }

.products {
  padding-bottom: 40px; }
  .products .product-wrapper .product-list {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap; }
    .products .product-wrapper .product-list .product-item {
      flex: 1;
      min-width: 200px;
      max-width: 500px;
      text-align: center;
      background-color: #efefef;
      display: flex;
      flex-direction: column;
      position: relative;
      overflow-x: hidden;
      padding-bottom: 1rem; }
      .products .product-wrapper .product-list .product-item .product-img {
        width: 100%;
        height: 100%; }
        .products .product-wrapper .product-list .product-item .product-img img {
          width: 100%; }
        .products .product-wrapper .product-list .product-item .product-img .img2 {
          display: flex;
          position: absolute;
          top: 0;
          opacity: 0;
          visibility: hidden; }
        .products .product-wrapper .product-list .product-item .product-img .img1:hover {
          visibility: hidden;
          opacity: 0; }
        .products .product-wrapper .product-list .product-item .product-img:hover .img2 {
          visibility: visible;
          opacity: 1; }
      .products .product-wrapper .product-list .product-item .product-info .product-title {
        font-size: 14px;
        font-weight: 600;
        margin-top: 1rem; }
      .products .product-wrapper .product-list .product-item .product-info .product-star {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        color: #face2d;
        font-size: 12px;
        margin: 10px 0; }
      .products .product-wrapper .product-list .product-item .product-info .product-prices strong {
        color: #FD573F; }
      .products .product-wrapper .product-list .product-item .product-info .product-prices span {
        font-size: 12px;
        text-decoration: line-through;
        color: #2a2929; }
      .products .product-wrapper .product-list .product-item .product-info .product-discount {
        display: inline-block;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        font-size: 12px;
        font-weight: 500;
        background-color: #FD573F;
        color: #fff;
        display: grid;
        place-content: center;
        position: absolute;
        top: 10px;
        right: 10px; }
      .products .product-wrapper .product-list .product-item .product-info .product-links {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 8px;
        position: absolute;
        top: 20px;
        left: -25px;
        visibility: hidden;
        opacity: 0; }
        .products .product-wrapper .product-list .product-item .product-info .product-links button, .products .product-wrapper .product-list .product-item .product-info .product-links a {
          background-color: #000;
          display: inline-block;
          padding: 5px;
          border-radius: 5px;
          transition: all 0.3s; }
          .products .product-wrapper .product-list .product-item .product-info .product-links button:hover, .products .product-wrapper .product-list .product-item .product-info .product-links a:hover {
            opacity: 0.7; }
          .products .product-wrapper .product-list .product-item .product-info .product-links button i, .products .product-wrapper .product-list .product-item .product-info .product-links a i {
            color: #fff;
            font-size: 14px;
            display: flex; }
      .products .product-wrapper .product-list .product-item:hover .product-links {
        visibility: visible;
        opacity: 1;
        left: 10px; }

.campaigns .campaigns-wrapper:nth-child(1) .campaign-item:nth-child(1) {
  background-image: url(../img/campaigns/banner1.png); }

.campaigns .campaigns-wrapper:nth-child(1) .campaign-item:nth-child(2) {
  background-image: url(../img/campaigns/banner2.png); }

.campaigns .campaigns-wrapper:nth-child(2) .campaign-item:nth-child(1) {
  background-image: url(../img/campaigns/banner3.png); }

.campaigns .campaigns-wrapper:nth-child(2) .campaign-item:nth-child(2) {
  background-image: url(../img/campaigns/banner4.png); }

.campaigns .campaigns-wrapper .campaign-item {
  padding: 70px 35px;
  background-size: cover;
  background-position: center;
  color: #fff; }
  .campaigns .campaigns-wrapper .campaign-item .campaign-title {
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
    width: 50%;
    text-transform: capitalize; }
  .campaigns .campaigns-wrapper .campaign-item .campaign-desc {
    margin: 40px 0; }

.campaigns .wrapper-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "top-left top-right";
  gap: 30px;
  margin: 30px 0; }
  .campaigns .wrapper-top .top-left {
    grid-area: top-left; }
  .campaigns .wrapper-top .top-right {
    grid-area: top-right; }

.campaigns .wrapper-bottom {
  display: grid;
  grid-template-columns: 7fr 5fr;
  grid-template-areas: "bottom-left bottom-right";
  gap: 30px;
  margin: 30px 0; }
  .campaigns .wrapper-bottom .bottom-left {
    grid-area: bottom-left; }
  .campaigns .wrapper-bottom .bottom-right {
    grid-area: bottom-right; }

@media (max-width: 768px) {
  .campaigns .wrapper-top {
    grid-template-columns: 1fr;
    grid-template-areas: "top-left" "top-right"; }
  .campaigns .wrapper-bottom {
    grid-template-columns: 1fr;
    grid-template-areas: "bottom-left" "bottom-right"; } }

.blogs {
  margin-bottom: 100px; }
  .blogs .blog-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap; }
    .blogs .blog-list .blog-item {
      flex: 1;
      min-width: 300px; }
      .blogs .blog-list .blog-item .blog-img {
        display: flex; }
        .blogs .blog-list .blog-item .blog-img img {
          width: 100%; }
      .blogs .blog-list .blog-item .blog-info {
        padding-bottom: 25px;
        text-align: center;
        font-size: 14px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4); }
        .blogs .blog-list .blog-item .blog-info .blog-info-top {
          color: #9f9b9b;
          padding-top: 10px; }
          .blogs .blog-list .blog-item .blog-info .blog-info-top span {
            font-weight: 500; }
        .blogs .blog-list .blog-item .blog-info .blog-info-bottom h3 {
          margin: .8rem 0;
          font-size: 20px; }
        .blogs .blog-list .blog-item .blog-info .blog-info-bottom .blog-readmore {
          font-size: 14px;
          padding-bottom: 4px;
          border-bottom: 1px solid #000; }
          .blogs .blog-list .blog-item .blog-info .blog-info-bottom .blog-readmore:hover {
            color: #1367ef;
            border-color: #1367ef; }

.brands .brand-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem 0;
  border: 1px solid #b6b7bd;
  flex-wrap: wrap; }
  .brands .brand-list .brand-item {
    flex: 1;
    width: 100%;
    text-align: center; }
    .brands .brand-list .brand-item img {
      min-width: 150px;
      opacity: .5; }
      .brands .brand-list .brand-item img:hover {
        scale: 1.02;
        opacity: 1;
        cursor: pointer; }

.campaign-single {
  background-image: url(../img/single-campaign.png);
  padding: 140px 15px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-top: 50px; }
  .campaign-single .campaign-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff; }
    .campaign-single .campaign-wrapper h2 {
      font-size: 25px; }
    .campaign-single .campaign-wrapper strong {
      font-size: 55px;
      margin: 20px 0;
      margin-bottom: 50px;
      position: relative; }
      .campaign-single .campaign-wrapper strong::after {
        content: "";
        width: 50px;
        height: 5px;
        background-color: #fff;
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translate(-50%, -50%); }
    .campaign-single .campaign-wrapper a {
      background-color: #fff;
      border: transparent; }
      .campaign-single .campaign-wrapper a:hover {
        background-color: #1367ef;
        color: #fff; }
