@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

$primary-color: #1367ef;

@mixin d-flex($just, $align) {
    display: flex;
    justify-content: $just;
    align-items: $align;
  }

@mixin card-shadow(){
    box-shadow: rgba(0, 0, 0, 0.45) 0px 15px 10px -10px;
}  

@mixin logo() {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2px;
}
@mixin grid() {
    display: grid;
    place-content: center;
}


// Global

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    transition: all 0.2s;
}

html::-webkit-scrollbar {
    width: 1.2rem;
    background-color: #fff;
  
  }
  html::-webkit-scrollbar-track{
    background-color: transparent;
  }
  html::-webkit-scrollbar-thumb {
    border-radius: 3rem;
    background-color: black;
  
  }

a{
    color:#000; 
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
// buttons
button{
    
    cursor: pointer;
    border: none;
}
.btn{
    display: inline-block;
    padding: 0 25px;
    font-weight: 500;
    line-height: 40px;
    border: 1px solid #000;
    transition: all .2s;
}
.btn-sm{
    line-height: 33px;
}
.btn-lg{
    line-height: 45px;
}
.btn-primary{
    background-color: $primary-color;
    color: #fff;
    border-color: $primary-color;
    &:hover{
        background-color: #fff;
        color: $primary-color;
    }
    
}
// inputs 
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
    outline: none;
    border: 1px solid #dee0ea;
    padding: 8px 15px;
    &:focus {
        border-color: grey;
    }
}
input[type="number"]::-webkit-inner-spin-button{
    opacity: 1;
}


@media (max-width: 1200px) {

    .container{
        max-width: 992px;
      
        
    }
}

@media (max-width: 992px) {

   body {
    .container{
        max-width: 768px;
       padding: 0 5%;
    }
    // search responsive
    
   }
}

@media (max-width: 768px) {
    .container{
        max-width: 576px;
    }
   
}

@media (max-width: 576px) {

    .container{
        max-width: 400px;
       
    }
}

@media (max-width: 420x) {

    .container{
        max-width: 350px;
       
    }
}


