// base
@import "_base";
// layout
@import "./layout/header";
// modal search
@import "./components/_modal-search";
// Slider
@import "./components/_slider";
// category-cart-components
@import "./components/category-item";
// produxt-item
@import "./components/product-items";
// campaign-item
@import "./components/campaign-item";
// blog-item
@import "./components/blogs-item";


//brands
.brands {
    
    .brand-list {
        @include d-flex(space-around, center);
        gap: 2rem;
        padding:  1.5rem 0;
        border: 1px solid #b6b7bd;
        flex-wrap: wrap;
        .brand-item{
            flex: 1;
            width: 100%;
            text-align: center;
            img {
                min-width: 150px;
                opacity: .5;
                &:hover {
                    scale: 1.02;
                    opacity: 1;
                    cursor: pointer;
                }
            }
        }
    }
}